<h2>Todo List</h2>

<p>Search for a task: <input type="string" [(ngModel)]="filter"> </p>

<h1 *ngIf="isCompletedList()">You finished all tasks!!</h1>

<div *ngFor="let t of getFiltered(); index as i">

<p [ngStyle]="{'text-decoration': t.completed ? 'line-through' : ''}">

<button *ngIf="t.completed == false" (click)="completeTask(i)">Complete</button>
<!--{{t.task}} -->
<input [disabled]="t.completed" [ngClass]="t.completed ? 'completed' : ''" type="text" [(ngModel)]="t.task"/>
<button (click)="RemoveTask(i)">x</button>
</p>

</div>

<p>Enter New Task:</p>
<input type="text" [(ngModel)]="newTask.task" />
 <button (click)="addTask()">Add Task</button>

